
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
</head>
<body>
    <div> 

        چاپ اطلاعات کاربر
        <br />
        @TempData["name"]

    </div>
</body>
</html>
